{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  color: white;
  text-align: center;
}
h2 {
  color: black;
  text-align: center;
}
h3 {
  margin: 20px auto;
  color: black;
  text-align: justify;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;

}
body {
  background: #e6e6e6;
  width: 100% auto;
}

header{
  background: #1f45fc;
  width: 100% auto;
  margin: 20px auto;
}
.logo{
  background: #1f45fc;
  padding: 16px;
  width: 20%;
  float: left;
}

.nombre_pagina{
  background: #1f45fc;
  color: #f8f6f0;
  padding: 50px;
  width: 80%;
  float: right;
}

footer {
  background: #1f45fc;
  width: 100%;
  margin: 20px auto;
}

header nav {
  clear: both;
  background: #fff;
  width: 100% auto;
  overflow: hidden;
  float: left;
  margin-left: 20px auto;
}

header nav ul {
  list-style-type: none; /*Quitamos los puntos y sangrías*/
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


header nav ul li {
  float: left;
  padding: 10;
  width: 100% auto;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

header nav ul li a {
  display: block; /*Con esto el margin funciona para todos los lados*/
  font-size: 20px;
  color: black;
  padding: 10px 20px;
  width: 100% auto;
  text-decoration: none;
}

header nav ul li a:hover {
  background: #f8f6f0;
  width: 100% auto;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.contenedor {
  background: white;
  width: 100%;
  margin: 20px auto;
  height: 300px;
  clear: both;
}

.contenedor #main {
  background-image: url("Imagenes/DALL·E 2022-09-13 22.12.50 - imágenes de libros oleo.png");
  width: 69.1%;
  height: 100%;
  margin-right: 0.9%;
  padding: 20px;
  float: left;
  box-sizing: border-box;
  overflow: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.contenedor aside {
  width: 30%;
  float: left;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

footer {
  background: #1f45fc;
  color: white;
  width: 100% auto;
  text-align: center;
  clear: both;
  padding: 10px 0px;
}

/*FORM INGRESO INICIO*/

aside h2 {
  text-align: center;
  margin-bottom: 5px;
  
}
form label {
  display: block;
  width: 100%;
}

form textarea {
  resize: vertical;
  max-height: 300px;
  min-height: 100px;
}

form input {
  display: block;
  margin-bottom: 20px;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid gray;
}

form input:focus,
textarea:focus {
  border: 1px solid white;
}

form input[type="submit"] {
  margin-bottom: 0;
  background: #f8f6f0;
  border: none;
  box-shadow: 3px 3px 2px #c0c0c0;
}
form input[type="submit"]:hover {
  background: #b6b6b4;
  cursor: pointer;
}

/********************************/
/*Estilos para tabla*/
/********************************/

table {
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 10px;
}

table tr:nth-child(1) {
  text-align: center;
  font-size: 14px;
  color: #fff;
  background-color: #000;
  text-transform: uppercase;
}

table td {
  border: 1px solid black;
  padding: 5px;
}

table tr:hover {
  background: #c6e9fe;
}

table td:hover {
  background: #dbdbdb;
  color: black;
}
